body{
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
  padding: 15px 95px 15px 15px;
  background-color: #720000;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 85%;
  font-size: 15px;
}

#cimkep{
  float:left;  
}

#erdekesseg{
  width:350px;
  height: 300px;
  float:right;
  margin: 0px 0px 20px 15px;
  background-color: #ffffcc;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);

}

h1{
  font-size:30pt;
  color:#720000;
  text-align: center;
}

.jobbra{
  text-align: right;
  float:right;
  border-style:dashed;
  margin:15px;
  width: 450px;
  height: 450px;
}
header{
  background-color: white;
  margin: 0 auto;
}

.keret{
  font-size: 90%;
  padding: 7px;
  font-weight: normal;
  color:#720000;
  border: 3px dashed black;
  background-color: white;
}

li{
  font-weight:bold;
  list-style-image:url(jel.png);
}
a{
  color: white;
}
h2{
  text-decoration: underline;
}
.kerett{
  font-size: 90%;
  padding: 3px;
  font-weight: normal;
  color:#720000;
  background-color: white;
}
#also{
  text-indent: 20px;
}